readfile=ru.nsu.ccfit.kokunina.workflow.blocks.ReadFileBlock
sort=ru.nsu.ccfit.kokunina.workflow.blocks.SortBlock
dump=ru.nsu.ccfit.kokunina.workflow.blocks.DumpBlock
writefile=ru.nsu.ccfit.kokunina.workflow.blocks.WriteFileBlock
replace=ru.nsu.ccfit.kokunina.workflow.blocks.ReplaceBlock
grep=ru.nsu.ccfit.kokunina.workflow.blocks.GrepBlock